alabaster==0.7.12
anaconda-client
argh==0.26.2
argon2-cffi
asn1crypto
astroid
astropy==4.0.2
async-generator==1.10
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
bitarray
bkcharts==0.2
bleach
bokeh
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.6.20
cffi
chardet==3.0.4
click==7.1.2
cloudpickle
clyent==1.2.*
colorama
comtypes==1.1.7
conda==4.9.2
conda-build==3.20.5
conda-package-handling
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography
cycler==0.10.0
Cython
cytoolz==0.11.0
dask
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch
distributed
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8
Flask==1.1.2
fsspec
future==0.18.2
gevent
glob2==0.7
greenlet
h5py==2.10.0
HeapDict==1.0.1
html5lib
idna
imageio
imagesize==1.2.0
importlib-metadata
iniconfig
intervaltree
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
isort 
itsdangerous==1.1.0
jdcal==1.4.1
jedi 
Jinja2==2.11.2
joblib 
json5==0.9.5
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments
jupyterlab-server 
keyring 
kiwisolver 
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lxml 
MarkupSafe==1.1.1
matplotlib
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient 
nbconvert
nbformat 
nest-asyncio 
networkx 
nltk 
nose==1.3.7
notebook 
numba==0.51.2
numexpr==2.7.1
numpy 
numpydoc 
olefile==0.46
openpyxl 
packaging==20.4
pandas 
pandocfilters 
paramiko 
parso==0.7.0
partd==1.1.0
path 
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow 
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit
psutil
py
pycodestyle==2.6.0
pycosat==0.6.3
pycparser 
pycurl==7.43.0.6
pydocstyle
pyflakes==2.2.0
Pygments 
pylint
PyNaCl 
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing==2.4.7
pyreadline==2.1
pyrsistent 
PySocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.1
python-jsonrpc-server 
python-language-server 
pytz==2020.1
PyWavelets
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome
qtconsole 
QtPy==1.9.0
regex 
requests 
rope 
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-learn 
scipy 
seaborn 
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch
sip==4.19.13
six
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport
spyder
spyder-kernels 
SQLAlchemy
statsmodels==0.12.0
sympy 
tables==3.6.1
tblib
terminado==0.9.1
testpath==0.4.4
threadpoolctl
tifffile==2020.10.1
toml
toolz 
tornado==6.0.4
tqdm
traitlets 
typing-extensions 
ujson 
unicodecsv==0.14.1
urllib3
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter
xlwings==0.20.8
xlwt==1.3.0
xmltodict==0.12.0
yapf
zict==2.0.0
zipp
zope.event==4.5.0
zope.interface
